<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="DummyInstaller1" Language="1033" Version="1.0.0.0" Manufacturer="frederiksen" UpgradeCode="67875DAD-9032-4B5F-9D52-50198901D108">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="DummyInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="DummyInstaller1" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent" KeyPath="yes" Guid="58B8BEF9-AAC6-4FA0-B9C8-7F6B4090B683">
        <CreateFolder />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>