<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="DummyInstaller2" Language="1033" Version="1.0.0.0" Manufacturer="frederiksen" UpgradeCode="4452CA47-4B8D-4FAA-B4B2-6324E033FCD1">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="DummyInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="DummyInstaller2" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent" KeyPath="yes" Guid="1C45EC08-734F-465E-9D8D-F0FFFE9DC1FD">
        <CreateFolder />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>