<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="DummyInstaller3" Language="1033" Version="1.0.0.0" Manufacturer="frederiksen" UpgradeCode="07E28DAE-44E9-49B5-98C8-F42496BCAC2D">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="DummyInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="DummyInstaller3" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent" KeyPath="yes" Guid="27E815C5-F3C2-4F24-8E12-A8110AD3D01A">
        <CreateFolder />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>